# dependencies
node_modules
__pycache__
*.egg-info
dist
build

# next
.next
out

# logs
*.log

# env
.env
.env.*
!.env.example

# OS
.DS_Store

# tooling
*.tsbuildinfo

# Python
.pytest_cache
.venv
venv
*.pyc
*.pyo
*.pyd
.Python
site-packages

# IDE
.vscode
.idea
*.swp
*.swo
